body{
  background-image: url("../images/fond.jpg");
}

#tableau tr td{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

#tableau{
  border-collapse: collapse;
  margin: auto;
}

#myDiv{
  margin: auto;
  margin-top: 10%;
  height: 400px;
  width: 400px;
  text-align: center;
}

.player1{
  background-color: blue;
  opacity: 0.5
}

.player2{
  background-color: red;
  opacity: 0.5
}
